@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;

    background: linear-gradient(180deg, rgba(106,9,121,0) 68%, rgba(0,0,0,0.39098967223608194) 100%); 
}

.card{
    max-width: 400px;
    width: 58vw;
    /* height: 500px; */
    position: relative;
    cursor: pointer;
    aspect-ratio: 4/5;

    perspective: 1000px;
}

.items{
    text-align: center;
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
    height: 100%;

    display: grid;
    place-items: center;
}

.card:hover .items{
    
    transform: rotateY(180deg);
  }

.front{
    height: 100%;
    width: 75%;
    backface-visibility: hidden;
    position: absolute;
    transform: translateZ(100px);
    word-wrap: break-word;
}

#hh{
    margin-top: 90%;
    /* font-size: 2.1em; */
}

.square{
    height: 85%;
    width: 85%;
    position: absolute;
    border:3px solid black;
    transform: translateZ(40px);
    border-radius: 10px;
    /* margin-top: 25px;
    margin-left: 25px; */
    padding-top: 40%;

    background: #fff9a00f;
}
.square h3{
    font-size: 1.1em;
    letter-spacing: 0.236em;
    opacity: .7;

}
.middle{
    background-color: #DFDBE5;
    background-image: url("BG/14979247_SL_060521_43530_09.webp");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;

    border-top: solid #ffffff66 5px;
    border-left: solid #ffffff66 5px;

    box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 4%), 6.7px 6.7px 5.3px rgb(0 0 0 / 6%), 12.5px 12.5px 10px rgb(0 0 0 / 7%), 22.3px 22.3px 17.9px rgb(0 0 0 / 8%), 41.8px 41.8px 33.4px rgb(0 0 0 / 10%), 100px 100px 80px rgb(0 0 0 / 14%);
    backface-visibility: hidden;
}

.backbg{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("BG/26180.webp");
    background-position: center;
    background-size: cover;
    /* transform:translateZ(-1px) ; */
    border-radius: 10px;
    
    border-top: solid #ffffff66 5px;
    border-left: solid #ffffff66 5px;

    box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 4%), 6.7px 6.7px 5.3px rgb(0 0 0 / 6%), 12.5px 12.5px 10px rgb(0 0 0 / 7%), 22.3px 22.3px 17.9px rgb(0 0 0 / 8%), 41.8px 41.8px 33.4px rgb(0 0 0 / 10%), 100px 100px 80px rgb(0 0 0 / 14%);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.food{
    height: 50%;
    width: 100%;
    position: absolute;
    transform:translateZ(-30px) rotateY(.5turn);
    background-image: url("BG/kindpng_1823329.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;

}



.back{
    transform: translateZ(-100px) rotateY(.5turn);
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    font-size: 1.938em;
    letter-spacing: 0.074em;
  
}